beautifulsoup4
channels
colorlog
drf-spectacular
faiss-cpu
joblib
openai
mistralai
pandas
playwright
pre-commit
psycopg2-binary
python-dotenv
python-magic
requests
sentence-transformers
tqdm
pymupdf
pymupdf4llm
boto3